{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMS PROJECT</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/adminstyle.css' %}"/>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body bgcolor="grey">
<h2 align="center">Student Academic Management System</h2>
<br>
<div style="background-color:yellow;padding:10px;fontsize:10pt">
<a href="{% url 'facultyhome' %}">Faculty Home</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'facultychangepass' %}">Change Password</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'facultycourses' %}">My Courses</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'addcoursecontent' %}">Course content</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'facultylogin' %}">Logout</a>&nbsp;&nbsp;&nbsp;
</div>
<h3 align="right" style="color:red"><i>Welocome {{fid}}</i></h3>
<br>
{% block 'body'%}
<p>I am in Faculty home page</p>
{% endblock %}
</body>
</html>