{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMS PROJECT</title>
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body >
<h2 align="center">Student Academic Management System</h2><br>
<nav class="navbar">
       <div class="logo" align="left">
           <img src="{% static 'images/123456.png' %}" width="45%" height="45%" align="left">
       </div>
       <ul class="nav-links">
         <div class="menu">
<li align="center">  <a href="{% url 'home' %}" >Home</a>&nbsp;&nbsp;  </li>
<li align="center">  <a href="{% url 'about' %}">About</a>&nbsp;&nbsp;  </li>
<li  class="services">
    <a href="#">Login</a>&nbsp;&nbsp;
       <ul class="dropdown">
            <li><a href="{% url 'studentlogin' %}">Student</a></li>
            <li><a href="{% url 'facultylogin' %}">Faculty</a></li>
            <li><a href="{% url 'login' %}">Admin</a></li>

       </ul>

</li>

<li align="center">  <a href="{% url 'contact' %}">Contact Us</a>&nbsp;&nbsp;  </li>
             </div>
       </ul>
             </nav>
<br><br>

{% block 'body' %}
<p align="center" >Iam In Home Page</p><br><br>
<center>
 <img src="{% static 'images/smalllogo.png' %}" width="60" height="10%">
    <center>

{% endblock %}


</body>
</html>